<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZWGraphicViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6C0ED9C41EE4F19F00F16CA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C0ED9E01EE4F1A000F16CA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C0ED9EB1EE4F1A000F16CA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
